[submodule "lib/SDL3-CS"]
	path = lib/SDL3-CS
	url = git@github.com:leandro-benedet-garcia/SDL3-CS.git
[submodule "lib/SDL_shadercross"]
	path = lib/SDL_shadercross
	url = git@github.com:libsdl-org/SDL_shadercross.git
